

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eSmash</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js/libs")
    @Scripts.Render("~/bundles/iframeloader")
    @Scripts.Render("~/bundles/clockpicker")


    <style>
        .headerContainer{
            background-color : #F8F8F8;
        }
        .logoAccelya {
            width: 30px;
        }

        .splus {
            width: 150px;
        }

        .padding-top-10 {
            padding-top: 10px;
        }

        .liQlik {
            text-align: center;
        }

        .headerContainer {
            max-width: 100% !important;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container headerContainer">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/content/image/accelya_hub_small.png" alt="Accelya" class="logoAccelya padding-top-10" />
               
                
            </div>
            <div style="float:right;" class="navbar-collapse collapse">

               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Accelya. All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
